<%- include("partials/header") %>

<h2>About Me:</h2>
<br />
<div style="min-height: 200px;">
<!-- <img class="profile-img" src="/images/profile.png" alt="Himat" /> -->
<h1>Hi, I'm Himatkumar Purohit.</h1>
<p>I am a <strong>Software Developer</strong> and coder who is passionate about coding.</p>
<p>I am open to learning new technologies and working in different domains.</p>
<p>Have 2+ years of Industrial Experience.</p>
</div>
<br><br><br>
<div style="text-align: center;">
  <h3>My Skills:</h3>
  <h5>Coding Languages:</h5>
  <p>Javascript, Java, Python, R, C</p>
  <h5>Web Development:</h5>
  <p>HTML, CSS, Bootstrap, Javascript, EJS, JSX</p>
  <h5>Frameworks/Systems:</h5>
  <p>React.js, Node.js, Express, MongoDB, Heroku</p>
  <h5>Testing Tools:</h5>
  <p>Selenium</p>
  <h5>Databases:</h5>
  <p>Relational and Non-Relational</p>
</div>
<br><br><br>
<div>
  <h3 style="text-align: center;">Work Experience:</h3>
  <h4>Tata Consultancy Services.</h4>
  <h5>System Engineer</h5>
  <p>06/2019-present</p>
  <ul>
    <li>Quality Assurance (BFSI Domain).</li>
    <li>Became application lead within 8 months of joining.</li>
    <li>Appreciated several times for outstanding performance.</li>
    <li>Supported Different teams with development of Automation script in Selenium. Automation.</li>
    <li>Supported API's Development.</li>
  </ul>
</div>

<%- include("partials/footer") %>
