<%- include("partials/header") %> 

<h1>About</h1>
<a href="https://in.linkedin.com/in/himatkumar-purohit?trk=profile-badge" target="_blank">Himatkumar Purohit</a>

<p><%= aboutContent %></p>

<%- include("partials/footer") %> 